*{
	padding: 0;
	margin: 0;
	font-family:'Bariol', sans-serif;
 	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

@font-face{
	font-family: 'Bariol';
	src: url('../fonts/bariol/bariol_regular-webfont.woff');
}

@font-face{
	font-family: 'Nasalization';
	src: url('../fonts/nasalization/nasalization-rg.ttf');
}

 /* --------  HEADER  ---------*/

header .contenedor_logo_menu{
	padding: 25px 15px;
	background: rgb(157,4,4);
	border-style: solid;
    border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-color: #000;
	margin-bottom: 85px;
}

header .contenedor_logo_menu .logo a {
	color: #fff;
	line-height: 50px;
	font-family: "Nasalization";
	text-decoration: none;
	font-size: 50px;
	margin-left: 30px;
}

header .contenedor_logo_menu .menu{
	text-align: right;
	line-height: 50px;
}

header .contenedor_logo_menu .menu a{
	color: #fff;
	margin-right: 40px;
	font-size: 18px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	display: inline-block;
}

header .contenedor_logo_menu .menu a:hover{
	border-bottom: 2px solid #fff;
}

@media screen and (max-width: 992px){
 	header .contenedor_logo_menu .logo{
 		line-height: 25px;
 	}

 	header .contenedor_logo_menu .logo a{
 		font-size: 40px;
 		text-align: left;
 	}


 	header .contenedor_logo_menu .menu {
 		text-align: center; 
 	}

 	header .contenedor_logo_menu .menu a{
 		text-align: right;
 		margin: 0 15px;
 		font-size: 16px;
 	}
}

@media screen and (max-width: 992px){
 	header .contenedor_logo_menu .logo{
 		margin-bottom: 20px;
 		text-align: center; 
 	}

 	header .contenedor_logo_menu .logo a{
 		margin-left: 0;
 	}


 	header .contenedor_logo_menu .menu {
 		text-align: center; 
 	}

 	header .contenedor_logo_menu .menu a{
 		margin: 0 20px;
 	}
}

/* -----  FORMULARIO LOGIN  -------- */

.form{
	padding: 40px;
	margin: auto;
	background: #f2f2f2;
	border-radius: 8px;
}

.form .btn{
	text-align: center;
	width: 100px;
	height: 50px;
}

/* -----  FORMULARIO REGISTRO EVENTO  -------- */

.main {
	background: #f2f2f2;
	padding: 35px;
}

.separator {
	height: 3px;
	background: #c2c2c2;
	margin: 25px 0;
}

.grupo {
	display: inline-block;
	margin: 15px 14px 10px 0;
}

.grupo label {
	margin-right: 8px;
}

.main > .registro  label {
	font-size: 20px;
}

#name {
	font-size: 25px;
}

.main .registro .linea {
	background: #f2f2f2;
	margin: 25px 0;
}

.main .registro .divi {
	margin-left: 1%;
}

.enviar {
	display: inline-block;
	margin: 20px 0;
}

.errores {
	margin: 25px 0 0 0;
}

/*     DESPLEGAR EVENTOS       */

.encabezado{
	margin-bottom: 25px;
}

.eventos{
	padding: 30px;
	margin-bottom: 50px;
}

.eventos .prueba {
	overflow: hidden;
	border: 2px solid #c2c2c2;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    padding: 10px;
    height: 287px;
}

.eventos .prueba .titulo {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.eventos .prueba .fecha {
	text-align: right;
	font-weight: bold;
}

.eventos .prueba .linea {
	background: #000;
}

.eventos > .row {	
	display: flex;
  	justify-content: center;
}

.eventos .agrega {
	display: flex;
  /* alineacion vertical */
  	align-items: center;
   /* alineacion horizontal */
  	justify-content: center;
  	border: 2px solid #c2c2c2;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    padding: 10px;
    height: 287px;
}

.eventos .agrega .icono {
	font-size: 75px;
}

.info .fa{
	margin-right: 10px;
}

.info .icono {
	display: inline-block;
	margin-right: 23px;
}

.infor {
	margin-bottom: 25px;
}

.article img {
	width: 100%;
}

.hola {
	max-height: 90%;
	min-height: 90%;
	padding-bottom: 50px;
	overflow: hidden;
}

/* -------- FOOTER -----------  */

footer{
	margin-top: 45px;
	text-align: center;
	color: #fff;
	padding: 10px;
	background: rgb(157,4,4);
	border-style: solid;
    border-width: 2px 2px 0px 2px;
	border-color: #000;
}